{{!-- Quadralithe Status Display Template --}}
<div class="quadralithe-status">
    <h3>{{ localize "ADRASAMEN.QuadralitheEquipment" }}</h3>

    <div class="quadralithe-slots">
        {{#each quadralithes}}
        <div class="quadralithe-slot {{type}} {{#unless equipped}}empty{{/unless}}">
            <div class="slot-header">
                <i class="{{icon}}" inert></i>
                <span class="slot-name">{{ localize label }}</span>
            </div>

            <div class="slot-content">
                {{#if equipped}}
                <div class="item-name">{{ equipped.name }}</div>
                {{#if effects}}
                <div class="effects">
                    {{#each effects}}
                    <div class="effect">{{ this }}</div>
                    {{/each}}
                </div>
                {{/if}}
                {{else}}
                <div class="empty-text">{{ localize "ADRASAMEN.QuadralitheEmpty" }}</div>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
</div>