{{!-- Radiant Quadralithe Configuration Partial --}}
<fieldset>
    <legend>{{ localize "ADRASAMEN.RadiantConfiguration" }}</legend>
    <p class="hint">{{ localize "ADRASAMEN.RadiantEffectsHint" }}</p>

    <div class="form-group">
        <label>{{ localize "ADRASAMEN.FormulaBonus" }}</label>
        <div class="form-fields">
            <input type="text" name="system.quadralithe.effects.formulaBonus"
                value="{{system.quadralithe.effects.formulaBonus}}" placeholder="0"
                title="{{ localize 'ADRASAMEN.FormulaTooltip' }}">
        </div>
    </div>
</fieldset>