{{!-- Drain Quadralithe Configuration Partial --}}
<fieldset>
    <legend>{{ localize "ADRASAMEN.DrainConfiguration" }}</legend>
    <p class="hint">{{ localize "ADRASAMEN.DrainEffectsHint" }}</p>

    <div class="form-group">
        <label>{{ localize "ADRASAMEN.ManaGeneration" }}</label>
        <div class="form-fields">
            <input type="text" name="system.quadralithe.effects.manaGeneration"
                value="{{system.quadralithe.effects.manaGeneration}}" placeholder="0"
                title="{{ localize 'ADRASAMEN.FormulaTooltip' }}">
        </div>
    </div>

    <div class="form-group split-group">
        <label>{{ localize "ADRASAMEN.ActivationRange" }}</label>
        <div class="form-fields">
            <div class="form-group label-top">
                <label>{{ localize "ADRASAMEN.Range" }}</label>
                <div class="form-fields">
                    <input type="text" name="system.quadralithe.effects.range.value"
                        value="{{system.quadralithe.effects.range.value}}" placeholder="0">
                </div>
            </div>
            <div class="form-group label-top">
                <label>{{ localize "ADRASAMEN.RangeUnits" }}</label>
                <div class="form-fields">
                    <select name="system.quadralithe.effects.range.units">
                        <option value="ft" {{#if (eq system.quadralithe.effects.range.units "ft" )}}selected{{/if}}>ft
                        </option>
                        <option value="m" {{#if (eq system.quadralithe.effects.range.units "m" )}}selected{{/if}}>m
                        </option>
                        <option value="mi" {{#if (eq system.quadralithe.effects.range.units "mi" )}}selected{{/if}}>mi
                        </option>
                        <option value="km" {{#if (eq system.quadralithe.effects.range.units "km" )}}selected{{/if}}>km
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>{{ localize "ADRASAMEN.TargetType.Label" }}</label>
        <div class="form-fields">
            <select name="system.quadralithe.effects.target.affects.type">
                <option value="ally" {{#if (eq system.quadralithe.effects.target.affects.type "ally" )}}selected{{/if}}>
                    {{ localize "ADRASAMEN.TargetAlly" }}</option>
                <option value="enemy" {{#if (eq system.quadralithe.effects.target.affects.type "enemy"
                    )}}selected{{/if}}>{{ localize "ADRASAMEN.TargetEnemy" }}</option>
                <option value="any" {{#if (eq system.quadralithe.effects.target.affects.type "any" )}}selected{{/if}}>{{
                    localize "ADRASAMEN.TargetAny" }}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>{{ localize "ADRASAMEN.TargetCount" }}</label>
        <div class="form-fields">
            <input type="text" name="system.quadralithe.effects.target.affects.count"
                value="{{system.quadralithe.effects.target.affects.count}}" placeholder="1">
        </div>
    </div>
</fieldset>